
/** === Layout === */

#page {
	width: 100%;
}

.site-content {
	overflow: hidden;
}

.post-detail {
	width:100%;
	background-color: #d5d8dc;
	padding:10px;
	margin:10px;
	border: dashed;
	border-width: 1px 2px;
	border-radius: 15px;
}

